/* css reset */
html {
  font-family: Arial, Helvetica, sans-serif
}
* { font-size: 100%
    margin: 0;
    padding: 0;
}

h1 { font-family: 'Times New Roman', Times, serif; font-size: 3rem;
}
h1 { font-family: 'Times New Roman', Times, serif; font-size: 1.5rem;
}

body {
    padding: 40px;
}
span {
    text-decoration: line-through;
}

blockquote {
    margin: 0 0 0 30px; font: italic
}
strong { font-variant-caps: small-caps; font-weight: bolder; font-size: 2rem;
}

em { font-weight: bolder; text-transform: capitalize;
 
}
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}


