/* css reset */

body {
    font-family: 'Open Sans', sans-serif, monospace;
    color: rgb(78, 78, 78);
}

* {
    margin: 0;
    padding: 0;
}

body {
    padding: 40px;
}

blockquote {
    margin: 0 0 0 30px;
}